<div *ngIf="article" class="container py-5">
  <div *ngIf="article.content; else content_empty" class="card mb-3 box-shadow">
    <ngx-picture
      *ngIf="article.coverImageUrl"
      mat-card-image
      [src]="article.coverImageUrl"
      class="card-img-top image-top"
      alt="test"
      [lazyLoad]="true"
      #picture
    ></ngx-picture>
    <div class="card-body">
      <h1 class="card-title">
        {{ article.title }}
      </h1>
      <div class="card-text" [innerHtml]="article.content"></div>
    </div>
  </div>
  <ng-template #content_empty>
    <div class="article-empty">
      <p>The article has a bit of a problem</p>
      <button mat-raised-button color="primary" (click)="viewOther()">
        View Other Article
      </button>
    </div>
  </ng-template>
</div>
