<div class="container py-5">
  <mat-form-field
    *ngIf="isShowFilter"
    class="example-form-field"
    appearance="fill"
  >
    <mat-label>Search article</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="valueSearch"
      (ngModelChange)="onChangSearch($event)"
    />
    <button
      *ngIf="valueSearch"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="400"
    gutterSize="20"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile *ngFor="let item of articles">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title (click)="viewDetail(item)">{{
            item.title ? item.title : "Title test"
          }}</mat-card-title>
          <mat-card-subtitle class="font-subtitle">{{
            item.subtitle ? item.subtitle : "Sub Title test"
          }}</mat-card-subtitle>
        </mat-card-header>

        <ngx-picture
          (click)="viewDetail(item)"
          mat-card-image
          [src]="
            item.coverImageUrl
              ? item.coverImageUrl
              : 'https://material.angular.io/assets/img/examples/shiba2.jpg'
          "
          alt="test"
          [lazyLoad]="true"
          #picture
        ></ngx-picture>

        <!-- <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        /> -->
        <mat-card-content class="fixed-content">
          <p>
            {{ item.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="viewDetail(item)">View More</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngIf="isShowLoadMore" class="py-3 text-center">
    <button mat-raised-button color="primary" (click)="loadMore()">
      {{ isLoadMore ? "Loading..." : "Load More" }}
    </button>
  </div>
</div>
